:root {
    --gold: #d3af37;
    --gold-rgb: rgb(211 175 55);
    --white: #ffffff;
    --gray-dark: #1e1e1e;
    --gray-light: #d9d9d9;
    --gray-700: #2d2d2d;

    
    --link: var(--gray-light);
}
