:root {
    color-scheme: light;
    --background: white;
    --font-color: #1e1e1e;
    --highlight: #f7f7f7;
    --highlight-2: #e2e3e5;
    --link: #0366d6;
    --icon-color: var(--font-color);
    --bs-primary: #d3af37 !important;
    --icon-color__hover: #d3af37;
}

.dark-theme {
    color-scheme: dark;
    --background: #2d2d2d;
    --font-color: #d9d9d9;
    --highlight: #393939;
    --highlight-2: #414648;
    --link: #3ca4ff;
    --icon-color: #d9d9d9;
}

.theme-toggle {
    position: relative;
}

.moon {
    position: absolute;
    inset: 0;
}

.moon-logo {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;
}

.sun-logo {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
}

.animate-sun {
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
}

.animate-moon {
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
}