:root {
    color-scheme: light;
    --bg-primary: var(--gray-light);
    --bg-secondary: var(--gray-700);
    --text-primary: var(--gray-dark);
    --background: var(--gray-light);
    --font-color: var(--gray-dark);
    --icon-color: var(--gray-dark);
    --icon-color__hover: var(--gold);
}

.dark-theme {
    color-scheme: dark;
    --bg-primary: var(--gray-dark);
    --bg-secondary: var(--gold);
    --text-primary: var(--gray-light);
    --background: var(--gray-700);
    --font-color: var(--gray-light);
    --icon-color: var(--gray-light);
}

.theme-toggle {
    position: relative;
}

.moon {
    position: absolute;
    inset: 0;
}

.moon-logo {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;
}

.sun-logo {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
}

.animate-sun {
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
}

.animate-moon {
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
}