@page "/culture"
@inject IStringLocalizer<Culture> Loc

<h1>Culture Example</h1>

<p>
    <b>@Loc["CurrentCulture"]</b>: @CultureInfo.CurrentCulture

    @foreach (CultureInfo ci in CultureInfo.GetCultures(CultureTypes.AllCultures))
    {
        string output = String.Format("Name: {0} DisplayName: {1} 2-Letter Name: {2} 3-Letter Name: {3}", ci.Name, ci.DisplayName, ci.TwoLetterISOLanguageName, ci.ThreeLetterISOLanguageName);
        Console.WriteLine(output);
    }
</p>

<h2>Greeting</h2>

<p>
    @greeting
</p>

@code {
    private string greeting;

    protected override void OnInitialized()
    {

        greeting = Loc["Greeting"];
    }

    
}
