<select class="form-select form-select-sm" aria-label="@Localizer["CultureSelectAriaLabel"]" @bind="Culture">
    @foreach (var culture in supportedCultures)
    {
        <option value="@culture.Name">@culture.ToString()</option>
    }
</select>
