
<select class="form-select form-select-sm" aria-label="@Localizer["CultureSelectAriaLabel"]" @bind="Culture">
    @foreach (var culture in _supportedLanguages)
    {
        <option value=@culture.Code>@culture.DisplayName</option>
    }
</select>
