
<select class="form-select form-select-sm pe-0 ps-2 py-1 pe-md-3 ps-md-3 py-md-2" aria-label="@(Localization["AriaLabel"])" @bind="Culture">
    @foreach (var culture in _supportedLanguages)
    {
        <option value=@culture.Code>
            @culture.Country
        </option>
    }
</select>
