main {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: .5em;
}

.theme-toggle:hover .icon {
    cursor: pointer;
    color: var(--icon-color__hover);
    animation-timing-function: cubic-bezier(0.8, 0.03, 0.73, 0.97);
    animation-delay: .5s;
}
